/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/basic-button.scss";
@import "./blocks/hero.scss";
@import "./blocks/program.scss";
@import "./blocks/program-card.scss";
@import "./blocks/index-subtitle.scss";
@import "./blocks/methodology.scss";
@import "./blocks/example.scss";
@import "./blocks/parameter.scss";
@import "./blocks/slider.scss";
@import "./blocks/address.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card-product.scss";
@import "./blocks/catalog-subtitle.scss";
@import "./blocks/additional.scss";
@import "./blocks/promo.scss";
@import "./blocks/subscribe.scss";
