.basic-input {
  @include font-full($oswald-font, 16px, 18px, 400, $primary-color);
  text-transform: uppercase;
  background-color: $primary-bg-color;
  padding: 14px 40px 13px 15px;

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:valid {
    border: 1px solid #e7e7e7;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $primary-color;
    border-width: 2px;
    outline: none;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.64px;
    padding: 10px 40px 10px 20px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 10px 40px 10px 20px;
  }
}
