.card-product {
  display: grid;
  grid-template-columns: 140px 76px 64px;
  grid-template-rows: repeat(3, auto);
  justify-content: start;
  align-items: start;
  padding: 20px clamp(20px, calc((100vw - 280px)/2), calc((100vw - 280px)/2))  25px;

  &--secondary {
    display: block;
    padding-top: 78px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, $primary-bg-color 81px, $basic-grey 81px);


    &--secondary {
      background: $primary-bg-color;
      padding-top: 241px;
    }
  }
}

.card-product__image-link {
  display: block;
  width: 140px;
  height: 107px;
  grid-row: 1/3;
  grid-column: 1/2;

  @media screen and (min-width: $tablet-width) {
    margin: 0 auto 22px;
    width: 200px;
    height: 210px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 169px;
  }
}

.card-product__link {
  display: block;
  grid-row: 1/2;
  grid-column: 2/3;


  @media screen and (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.card-product__link,
.card-product__image-link {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card-product__name {
  @include font-full($oswald-font, 16px, 20px, 400, $special-dark-grey);
  text-transform: uppercase;
  margin-block: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    margin-inline: auto;
  }

  &--empty {
    position: relative;
    color: $special-dark;
    text-align: center;
    margin-bottom: 8px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }

  &--empty::before,
  &--empty::after {
    @include before-after(2px, 30px);
    position: absolute;
    top: -53px;
    left: 50%;
    background-color: #d3d3d3;
    transform: translateX(-50%);


    @media screen and (min-width: $tablet-width) {
      height: 60px;
      top: -110px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 60px;
      top: -100px;
    }
  }

  &--empty::before {
    transform: rotate(90deg) translate(-7%, 0);
  }
}

.card-product__characteristics {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  justify-self: stretch;
  grid-row: 2/3;
  grid-column: 2/4;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}

.card-product__characteristic {
  @include full-flex();
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 5px;

    &::after {
      @include before-after(100%, 1px);
      background-color: #cdcdcd;
      margin-bottom: 5px;
    }
  }
}

.card-product__value {
  margin-left: auto;
}

.card-product__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-block: 0 21px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-inline: auto;
  }
}

.card-product__button {
  padding: 10px 30px;
  grid-row: -2/-1;
  grid-column: 1/-1;
  font-size: 16px;
  line-height: 20px;
}

