.card-product__link {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card-product__name {
  @include font-full($oswald-font, 16px, 20px, 400, $special-dark-grey);
  text-transform: uppercase;

  &--empty {
    position: relative;
    color: $special-dark;
    text-align: center;

    &::after,
    &::before {
      @include before-after(2px, 30px);
      position: absolute;
      top: -53px;
      left: 50%;
      background-color: #d3d3d3;
      transform: translateX(-50%);
    }

    &::before {
      transform: rotate(90deg) translate(-7%, 0);
    }

    @media (min-width: $tablet-width) {
      &::after,
      &::before {
        height: 60px;
        top: -110px;
      }
    }

    @media (min-width: $desktop-width) {
      &::after,
      &::before {
        height: 60px;
        top: -100px;
      }
    }
  }
}

.card-product__characteristics {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
}

.card-product__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

