.catalog-subtitle {
  @include font-full($oswald-font, 24px, 24px, 400, $secondary-color);

  @media screen and (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media screen and  (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}
