.hero {
  @media (max-width: $mobile-width) {
    background-image:
      linear-gradient(to bottom, rgba($basic-green, 0.85) 70%, $primary-bg-color 70%),
      url("../../images/background/hero-background@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto, 320px auto;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to bottom, rgba($basic-green, 0.85) 70%, $primary-bg-color 70%),
        url("../../images/background/hero-background@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to left, rgba($basic-green, 0.85) 50%, $primary-bg-color 50%),
      url("../../images/background/hero-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% auto, 50% auto;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to left, rgba($basic-green, 0.85) 50%, $primary-bg-color 50%),
        url("../../images/background/hero-background-desktop@2x.jpg");
    }
  }
}

.hero__title {
  @include font-full($oswald-font, 36px, 36px, 400, $contrast-text-color);
  text-align: center;
}

.hero__text {
  font-family: $oswald-font;
  line-height: 18px;
  color: $contrast-text-color;
  text-transform: uppercase;
  text-align: center;
}
