.index-subtitle {
  @include font-full($oswald-font, 36px, 40px, 400, $secondary-color);
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
