.main-nav {
  @include font-full($oswald-font, 20px, 20px, 400, $secondary-color);
  font-style: normal;
  text-transform: uppercase;
}

.main-nav__toggle {
  background-color: $primary-bg-color;
  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {}
}
