.main-header {
  padding-block: 13px 0;
  position: relative;

  &::after {
    @include before-after(100%, 1px);
    background-color: #d9d9d9;
    margin-top: 9px;
  }

  @media screen and (min-width: $tablet-width) {
    padding-block: 25px 0;

    &::after {
      display: none;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-block: 55px 0;
  }

  &--home {
    &::after {
      background-color: $primary-bg-color;
    }

    @media screen and (min-width: $desktop-width) {
      padding-bottom: 25px;
      position: relative;
    }
  }

  &--home::before {
    @media screen and (min-width: $desktop-width) {
      @include before-after(100%, 100%);
      background-image:
        linear-gradient(to left, rgba($basic-green, 0.85) 50%, $primary-bg-color 50%),
        linear-gradient(to left, #4e4f53 50%, $primary-bg-color 50%);
      background-size: 100% auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
  }

  @media screen and (max-width: $mobile-width) {
    &--nojs {
      padding-bottom: 0;
    }

    &--nojs::after {
      background-color: $primary-bg-color;
      margin-top: -1px;
    }
  }
}

.main-header__container {
  @include full-flex(space-between);
  margin-inline: auto;
  width: 280px;
  color: $secondary-color;

  @media screen and (min-width: $tablet-width) {
    justify-content: flex-start;
    width: 768px;
    padding-inline: 30px 34px;

    .main-header--home & {
      padding-right: 36px;
    }

    .main-header--program & {
      padding-right: 31px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-inline: auto;
    width: 1220px;
    padding-inline: 0;

    .main-header--home & {
      padding-right: 0;
    }

    .main-header--program & {
      padding-right: 0;
    }
  }
}

.main-header__logo {
  width: 190px;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media screen and (min-width: $tablet-width) {
    width: 174px;
  }

  @media screen and (min-width: $tablet-width) {
    width: 202px;
  }
}

.main-header__logo-image {
  width: 190px;
  height: 38px;

  @media screen and (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
