.profile {
  @media screen and (min-width: $desktop-width) {
    &--contacts {
      @include full-flex();
      gap: 20px 80px;
    }
  }
}

.profile__name {
  @include full-flex(flex-start, baseline, row nowrap);
  margin-bottom: 16px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 9px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--contacts {
    position: relative;
    flex-direction: row-reverse;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 21px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: $desktop-width) {
      width: 46.72%;
      margin-bottom: 0;
    }
  }
}

.profile__contact {
  &::after {
    @include before-after(20px, 20px);
    background-color: $special-dark-grey;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    top: 22px;
    right: 13px;
    transform: translateY(-50%);
  }

  &--email::after {
    mask-image: url("../../icons/stack.svg#icon-email");
  }

  &--phone::after {
    mask-image: url("../../icons/stack.svg#icon-phone");
  }

  @media screen and (min-width: $tablet-width) {
    &::after {
      top: 26px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &::after {
      right: 15px;
    }
  }
}

.profile__value--contact:focus + .profile__contact::after {
  background-color: $basic-green;
}

.profile__value--contact:invalid + .profile__contact::after {
  background-color: $invalid-color;
}

.profile__value {
  margin-left: 14px;
  flex-grow: 1;
  flex-shrink: 2;
  width: 173px;

  &--contact {
    @media screen and (min-width: $tablet-width) {
      padding: 11px 45px 11px 20px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-bottom: 10px;
    }
  }
}
