.program-card {
  background-color: $basic-grey;
}

.program-card__title {
  @include font-full($oswald-font, 24px, 37px, 400, $secondary-color);
  text-transform: uppercase;
}

.program-card__link {
  @include font-full($oswald-font, 16px, 16px, 400, $secondary-color);
  text-align: center;
  text-transform: uppercase;

  &:hover {
  }

  &:focus {
  }

  &:active {
    opacity: 0.3;
  }
}
