.program-card {
  padding: 30px 33px 18px 20px;
  background-color: $basic-grey;

  @media screen and (min-width: $tablet-width) {
    padding: 77px 316px 56px 53px;
  }

  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 457px;
    grid-template-rows: minmax(86px, auto) 1fr minmax(38px, auto);
    justify-content: start;
    row-gap: 23px;
    padding: 77px 61px 55px 52px;
  }
}

.program-card__title {
  @include font-full($oswald-font, 24px, $line-height-mobile, 400, $secondary-color);
  position: relative;
  margin-block: 0 30px;
  padding-left: calc($margin-left-title + $slim-width);
  text-transform: uppercase;
  word-wrap: break-word;


  @media screen and (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 162px;
  }

  &::before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--slim::before {
    @include before-after(50px, 50px);
    inset: calc(-1 * (50px / 2 - $line-height-mobile/2)) 0 0 0;
    background-image: url("../../icons/stack.svg#program-slim");

    @media screen and (min-width: $tablet-width) {
      width: 200px;
      height: 210px;
      inset: 4px 0 0 392px;
    }

    @media screen and (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      $line-height-title: 36px;
      inset: calc(-1 * (106px / 2 - $line-height-desktop/2)) 0 0 0;
    }
  }

  &--pro::before {
    @include before-after(67px, 50px);
    inset: calc(-1 * (50px / 2 - $line-height-mobile/2)) 0 0 -7px;
    background-image: url("../../icons/stack.svg#program-pro");

    @media screen and (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      inset: 14px 0 0 358px;
    }

    @media screen and (min-width: $desktop-width) {
      width: 134px;
      height: 102px;
      $line-height-title: 36px;
      inset: calc(-1 * (100px / 2 - $line-height-desktop/2)) 0 0 -19px;
    }
  }
}

.program-card__text {
  margin-block: 0 22px;
  position: relative;

  &:last-of-type::after {
    @include before-after(240px, 1px);
    position: absolute;
    bottom: -22px;
    background-color: #d9d9d9;
  }

  @media screen and (min-width: $tablet-width) {
    color: $secondary-color;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;

    &:last-of-type::after {
      display: none;
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.program-card__link {
  @include font-full($oswald-font, 16px, 16px, 400, $secondary-color);
  position: relative;
  display: inline-block;
  padding-right: 57px;
  padding-top: 20px;
  text-transform: uppercase;

  &::after {
    @include before-after(32px, 12px);
    position: absolute;
    top: calc(50% + 3px);
    right: 10px;
    background-image: url("../../icons/stack.svg#arrow");
    background-repeat: no-repeat;
    background-size: 32px 12px;
    background-position: -6px;
    transition-duration: 0.2s;
  }

  &:hover::after {
    background-position: 0;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.64px;
    padding-right: 57px;

    &::after {
      right: 0;
    }
  }

  @media screen and (min-width: $desktop-width) {
    place-self: center start;
    padding-top: 4px;

    &::after {
      top: calc(50% - 6px);
    }
  }
}
