.promo {
  padding-block: 0 40px;

  @media screen and  (min-width: $tablet-width) {
    padding-bottom: 80px;
  }

  @media screen and  (min-width: $desktop-width) {
    padding-bottom: 104px;
  }
}

.promo__title {
  margin-block: 0 32px;

  @media screen and  (min-width: $tablet-width) {
    margin-bottom: 66px;
    margin-left: 40px;
  }

  @media screen and  (min-width: $desktop-width) {
    margin-bottom: 72px;
    margin-left: 0;
  }
}
