.selection {
  @include font-full($oswald-font, 16px, 18px);
  padding-block: 27px 18px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.64px;
    padding: 62px 40px 60px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 70px 0 81px;
  }
}

.selection__title {
  margin-block: 0 38px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: $secondary-color;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 54px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.selection__text {
  margin-block: 0 38px;
  width: 230px;
  font-size: 14px;
  color: $secondary-color;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 330px;
  }
}

.selection__form {
  @include full-flex(flex-start, flex-start, row wrap);
  row-gap: 24px;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    row-gap: 65px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 70px 80px;
  }
}

.selection__parameter {
  border: none;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    &--special {
      @include full-flex();
      gap: 30px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--main {
      width: 46.72%;
    }

    &--special {
      @include full-flex();
      gap: 20px 80px;
    }
  }
}

.selection__caption-break {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.selection__caption {
  width: fit-content;
  padding-inline: 0;
  font-size: 24px;
  line-height: 26px;
  color: $secondary-color;
  background-color: $primary-bg-color;
  text-transform: none;
  position: relative;
  box-shadow:
    20px 0 0 0 $primary-bg-color,
    -20px 0 0 0 $primary-bg-color;

  &::before {
    @include before-after(100vw, 2px);
    position: absolute;
    top: calc(26px - 24px / 2 + 2px);
    right: 0;
    background-color: $basic-green;
    z-index: -1;
    box-shadow: 100vw 0 0 0 $basic-green;
  }

  &--profile {
    margin-bottom: 35px;
    box-shadow:
      25px 0 0 0 $primary-bg-color,
      -20px 0 0 0 $primary-bg-color;
  }

  &--comment {
    margin-bottom: 38px;
  }

  &--additional {
    margin-bottom: 34px;
    left: -45px;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    box-shadow:
      40px 0 0 0 $primary-bg-color,
      -40px 0 0 0 $primary-bg-color;

    &::before {
      top: calc(36px - 36px / 2 + 4px);
    }

    &--profile {
      margin-bottom: 76px;
    }

    &--comment {
      margin-bottom: 87px;
    }

    &--additional {
      margin-bottom: 57px;
      left: -60px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--comment {
      margin-bottom: 78px;
    }
  }
}

.selection__caption-space {
  @media screen and (min-width: $tablet-width) {
    word-spacing: -2px;
  }
}

.selection__button {
  width: 100%;
  margin-block: 0 7px;
  border: none;

  @media screen and (min-width: $tablet-width) {
    width: 284px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: 570px;
  }
}

.selection__note {
  @include font-full($lato-font, 14px, 16px, 400, $secondary-color);
  margin-block: 0;
  padding: 14px 26px;
  width: 100%;
  text-transform: none;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    width: 284px;
    padding: 16px 28px;
    text-align: left;
  }

  @media screen and (min-width: $desktop-width) {
    flex-grow: 1;
    padding-left: 0;
    padding-top: 18px;
    word-spacing: -1px;
  }
}
