.user-comment__text {
  width: 100%;
  padding: 14px 14px 9px 15px;
  min-height: 150px;

  &::placeholder {
    color: $primary-color;
    opacity: 1;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 12px 20px;
    min-height: 175px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 10px 20px;
  }
}
